{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<head>
    <style>
    h3 {text-align: center;}
    </style>
</head>
<body>
<div class="container">
    <h3 style="color:powderblue;">Account Information</h3>
    <div class="relative" style="text-align: center;">
        <p>
            <h5>Username</h5>
            <h5>Name</h5>
            <h5>Email</h5>
        </p>
    </div>
    <div class="relative" style="text-align: center;">    
        <p>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">Update Username</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">Update Password</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">Logout</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">Delete Account</button>
        </p>
    </div>
</div>
</body>
{% endblock %}
