{% extends 'base.html' %}
{% block title %}
Personal Lists
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div style="text-align: center;">
    <form action="/view_lists/add", method="POST">
        <!-- action="/action_page.php" onsubmit="return myFunction()" -->
        <!-- <label for="search_entry"><b></b></label> -->
        <input type="text" placeholder="Add New List..." name="search_entry" required >
        <button type="submit" class="btn btn-outline-info btn-sm">Add</button>
    </form>
    <form action="/view_lists/update", method="POST">
        <!-- action="/action_page.php" onsubmit="return myFunction()" -->
        <!-- <label for="search_entry"><b></b></label> -->
        <input type="text" placeholder="List to Change..." name="old_entry" required >
        <input type="text" placeholder="New List Name..." name="new_entry" required >
        <button type="submit" class="btn btn-outline-info btn-sm">Update</button>
    </form>
    <form action="/view_lists/delete", method="POST">
        <!-- action="/action_page.php" onsubmit="return myFunction()" -->
        <!-- <label for="search_entry"><b></b></label> -->
        <input type="text" placeholder="List Name to Delete..." name="search_entry" required >
        <button type="submit" class="btn btn-outline-info btn-sm">Delete</button>
    </form>
    </div>
    </div>
    <!-- <div style="text-align: center;">
        <button type="submit" class="btn btn-outline-info btn-sm" onclick="create_new_list()">"Add List</button>
    </div> -->
        <div class="container table-responsive">          
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th class="recipe-id">#</th> -->
                        <th class="list name">List Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr style="transform: rotate(0);">
                        <!-- <th></th> -->
                            <!-- <td>{{item.id}}</td> -->
                            <!-- <a href="/recipesearch/{{item.id}}" class="stretched-link"></a> -->
                            <td>{{item.name}}</td>
                    </tr>
                    {% endfor %} 
                </tbody>
                <!-- <thead>
                <tr>
                    <th class="task">List Name</th>
                    <th class="update">Edit</th>
                    <th class="update">Remove</th>
                </tr>
                </thead>
        
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/recipe_search'">{{item.name}}</button>
                        </td>
                        
                        <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#submit-list" data-content="{{item.task}}"><i class="fa fa-pen fa-1" aria-hidden="true"></button></td>
        
                        <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                    </tr>
                {% endfor %}
                </tbody> -->
            </table>
            </div>
</body>
{% endblock %}

{% block scripts %}
{% endblock %}