{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body>

<div class="container">
    <div style="text-align: center;">
        <form action="/hello", method="get">
            <!-- action="/action_page.php" onsubmit="return myFunction()" -->
            <label for="search_entry"><b></b></label>
            <input type="text" placeholder="Search for Recipes..." name="search_entry" required >
            <button type="submit" class="btn btn-outline-info btn-sm">Search</button>
        </form>
        <br>
        <br>
        <b>Filter by tag: </b>
        <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/recipesearch/tomoko'">Tomoko</button>
        <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/recipesearch/swathi'">Swathi</button>
        <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/recipesearch/healthy'">Healthy</button>
        <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/recipesearch/teresa'">Teresa</button>
    </div>
    <div class="container table-responsive">          
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th class="recipe-id">#</th> -->
                    <th class="recipe">Recipe Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr style="transform: rotate(0);">
                    <!-- <th></th> -->
                        <!-- <td>{{item.id}}</td> -->
                        <td><a href="/recipesearch/{{item.id}}" class="stretched-link"></a>{{item.name}}</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <!-- <script>
        function CreateTableFromJSON() {
            // EXTRACT column names FOR HTML HEADER. 
            var col = [];
            for (var i = 0; i < myBooks.length; i++) {
                for (var key in myBooks[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }
        }
    </script> -->
    <!-- <button type="submit" class="btn btn-outline-info btn-sm" onclick="teresa()">Teresa</button>
    <button type="submit" class="btn btn-outline-info btn-sm" onclick="swathi()">Swathi</button>
    <button type="submit" class="btn btn-outline-info btn-sm" onclick="lily()">Lily</button> -->
<!-- </div>
    <div class="relative" style="text-align: center;">
        <p>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">Search Recipes</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">My Lists</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/grocery'">Account</button>
        </p> -->
    </div>
</body>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script/searchquery.js') }}"></script>
{% endblock %}