{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
<body>
    <div class="relative" style="text-align: center;">
        <p>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/recipesearch'">Search Recipes</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/view_lists'">My Lists</button>
            <button type="submit" class="btn btn-outline-info btn-sm" onclick="window.location.href='/account_info'">Account</button>
        </p>
    </div>
</body>

{% endblock %}

{% block scripts %}
{% endblock %}